/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body{
  margin: 2%;
 }

nav ul a,
nav .brand-logo {
  color: #444;
  display: inline-block;
  margin:5px;
  text-align: center;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ffffcc;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#big-header{
  color: #ffcc66;
}

.download-button{
  background-color: #ffcc66;
  color: #333333;
  margin: 5px 20px;
  /* text-shadow: 1px 1px 2px gray; */
}

.checkbox{
  margin: 10px;
}

h3{
  font-size:1.6em;
}

h4{
  font-size:1.3em;
}

#logo-img{
  position: relative;
  right: 100px;
}